{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<section class="articles">
    {% for article in articles %}
    <article>
    <h2>{{ article.titreArticle }}</h2>
        <div class="metadata">Ecrit le {{ article.datePubArticle    |   date('d/m/Y') }} à {{ article.datePubArticle    |   date('H:i') }} dans la catégorie {{ article.categorie.TitreCategorie }}.</div>
        <div class="content">
            <img src="{{ article.imageArticle }}" alt="">
            <p>{{ article.contenuArticle    |   raw }}</p>
            <a href="{{ path('blog_show',{'id':article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
